body {
    padding-top: 70px;
}
/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}

.recipe,
.recipe:link,
.recipe:visited,
.recipe:hover,
.recipe:active {
  color: black;
  text-decoration: none;
}

.recipe img {
  width: 200px;
  height: 200px;
}

.recipe .name {
  background: black;
  color: white;
  font-weight: bold;
  /*font-size: 2em;*/
}

.recipe .description {
  background-color: white;
  color: black;
  font-weight: normal;
  font-size: 0.75em;
}

#createMeasureForm .badge {
  background-color: #ec971f;
}
